{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Стартовое окно</title>
    <link rel="stylesheet" href="{% static 'main/css/end_window_css.css' %}">
</head>
<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <ul class="circles2">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      </div>
  <div class="centr">
  <div class="container">
    <h1>Тестирование завершено</h1>
  </div>
  </div>
</body>
</html>
