{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Инструкция к филворду</title>
  <link rel="stylesheet" href="{% static 'main/css/manual_filvotd_css.css' %}">
</head>
<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
      </div>
  <div class="centr">
  <div class="container">
    <h1>Методика Мюнстерберга</h1>
    <button onclick="document.location='{% url 'filvord' %}'">Перейти к филворду</button>
  </div>
  <div class="test">
  <p>Методика Мюнстерберга направлена на определение<br>избирательности и концентрации внимания.<br>
    Методику можно использовать при профотборе на специальности,<br> требующие хорошей
    избирательности и концентрации внимания, <br>а также высокой помехоустойчивости.</p>
  </div>
  <div class="container2">
    <h1>Инструкция</h1>
  </div>
  <div class="test2">
  <p>На странице изображены буквы русского алфавита, среди которых есть сочетания,<br>
    образующие слова-существительные в именительном падеже единственного числа. <br>
    Вам необходимо внимательно просмотреть строку за строкой, обнаружить <br>эти слова и выбрать их,
    нажимая с первой и заканчивая последней буквой. <br><br>
    Время выполнения задания - 3 минуты.</p>

  </div>
  </div>
</body>
</html>
